<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Ticket Booking Portal Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
    TechGarden Software
    <address>
      #13, MCHS,<br>
      Sector 4, HSR, Bangalore
    </address>
    <a href="tel:9880965050">+91 98 8096 5050</a><br>
    <a href="mailto:info@techgardensoftware.com">info@techgardensoftware.com</a>
  </p>
</div>