<div class="row">
	<div class="col-md-4 col-md-offset-4">
		{{input value=neededSeat type="text" placeholder="Enter your needed seats..." class="form-control"}}
		<p>Required seat(s) is {{neededSeat}}</p>
	</div>
</div>

{{#seat-booking-board 
	title="Seat Component" 
	need=neededSeat
	action="onSubmitBookedSeats"
}}
{{/seat-booking-board}}